{% include "header.html" %}
<div class="container main">
    <h1 class="contact">About me.</h1>
</div>
<br>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="subtitle">As an emerging DevOps Engineer and Python programmer, I have developed a deep passion
                for the world of technology and am eager to share my newfound skills and enthusiasm with others.</h2>
            <br>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#whoami">Who am I.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#techskills">Technical Skills.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#lang">Languages.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#softskills">Soft Skills and Background.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#hobbies">Hobbies and Trivia.</a>
            </li>
            <br>
            <br>
            <h2 id="whoami">Who am I.</h2>
            <p>'m Martyna Boradyn, a Python Developer with a strong curiosity and a clear goal - to become a DevOps/Cloud Engineer.</p>
            <p>My journey is rooted in mastering the intricacies of Python, enabling me to build robust
                server-side solutions. From crafting dynamic web applications and APIs using Django and Flask,
                I've taken the initial steps. However, my primary drive lies in DevOps principles, which I discovered
                while building projects with Django. This journey aims to harmonize the world of software development.</p>
            <p>But there's another dimension to my story — cybersecurity. What began as a side interest has grown into
                a pivotal part of my skill set. It's the fusion of Python, DevOps, and cybersecurity that sets me apart.</p>
            <p>My journey as a Junior IT Specialist is more than just a job. It's a stepping stone to becoming
                a seasoned DevOps Engineer. I'm in a constant state of learning, keeping pace with the latest in
                Python, backend practices, DevOps, and cybersecurity. It's this relentless drive that propels me forward.</p>
            <p>But my ambitions don't end here. The future holds a world of possibilities in AI and machine learning.
                The idea of AI transforming industries and addressing complex challenges captivates me.</p>
            <p>In essence, I'm on a quest where code meets creativity and innovation knows no bounds.</p>
            <br>
            <h2 id="techskills">Technical Skills.</h2>
            <p><strong>Programming and Web Development:</strong> Python, Django, Flask, Bootstrap, HTML, CSS, PyTest,
                Git, GitHub, Postgres, MySQL, SQLite.</p>
            <p><strong>DevOps and Cloud:</strong> CI/CD, Ubuntu Linux, CentOS Linux, Bash Scripting, Jenkins, Vagrant, Docker,
                Docker-Compose, Oracle Virtual Box, VMware Workstation, AWS (IAM, CLI, ELB, EBS Volumes, S3, EFS, RDS, EC2,
                Beanstalk, Autoscaling, Route53, CloudWatch) & Still Learning.</p>
            <p><strong>Data Analysis and Visualization:</strong> Pandas, Matplotlib, NumPy, Plotly, Seaborn.</p>
            <p><strong>Web Scraping and Data Parsing:</strong> Selenium, BeautifulSoup.</p>
            <p><strong>Cybersecurity and Network:</strong> Linux, Network Fundamentals, Networking, Subnetting,
                Metasploit, Burp Suite, Wireshark, VMware Workstation, Troubleshooting Tools, Bash, PowerShell,
                OWASP Top 10 & Still Learning.</p>
            <br>
            <h2 id="lang">Languages.</h2>
            <p><b>English</b>: C1.</p>
            <p><b>Japanese</b>: N3.</p>
            <p><b>German</b>: A2.</p>
            <p><b>Polish</b>: Native.</p>
            <br>
            <h2 id="softskills">Soft Skills and Background.</h2>
            <p>While my higher education is in veterinary medicine, I have developed a broad range of skills that
                are transferable to other fields. As a Doctor of Veterinary Medicine (DVM), I have demonstrated that I
                am an analytical and reliable individual with a compassionate nature and a strong problem-solving
                mindset. My education has taught me to approach problems critically and holistically, and to work
                with great perseverance and resilience in the face of obstacles. Additionally, I have developed
                a capacity for thinking outside the box, learning quickly, and adapting easily to new environments.</p>
            <br>
            <h2 id="hobbies">Hobbies and Trivia.</h2>
            <p>I have always been fascinated by Japanese culture since childhood, and this interest continues to
                this day. In my free time, I enjoy immersing myself in the language and aim to become fluent,
                with the ultimate goal of working in Tokyo or Osaka. Additionally, I discovered programming over
                two years ago and fell in love with it instantly. Beyond that, I have a diverse range of hobbies,
                including playing video games, cybersecurity, painting, reading, watching movies and anime,
                studying medicine, learning about the universe and simple quantum physics,
                engaging in strength training, running, and admiring gothic style and the Victorian era.
            </p>
            <p>As an INTJ personality type, I am ambitious and analytical, always striving to achieve my goals.
                My creative and dreamy side is just as important, and I find that this balance of traits
                serves me well in pursuing my passions.
            </p>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
        </div>
    </div>
</div>

{% include "footer.html" %}
