{% include "header.html" %}
<div class="container main">
    <h1 class="contact">About me.</h1>
</div>
<br>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="subtitle">As a dedicated Python programmer, I have developed a deep passion for the world of technology
                and am eager to share my newfound skills and enthusiasm with others.</h2>
            <br>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#whoami">Who am I.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#techskills">Technical Skills.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#lang">Languages.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#softskills">Soft Skills and Background.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#hobbies">Hobbies and Trivia.</a>
            </li>
            <br>
            <br>
            <h2 id="whoami">Who am I.</h2>
            <p>I'm a dedicated Python Developer with a keen interest in expanding my expertise into the realm of DevOps.
                As I master Python's nuances and embrace best practices for engineering robust server-side solutions,
                including dynamic web applications and APIs using frameworks like Django and Flask, I'm also deepening
                my knowledge in DevOps principles to streamline software development processes.</p>
            <p>Moreover, I've developed a burgeoning fascination with cybersecurity — an evolving landscape of challenges
                that captivates me. While cybersecurity currently serves as a side hobby, it's enhancing my
                ability to build secure applications. This domain offers an intriguing avenue for future exploration
                and potential synergy with my existing Python and DevOps skills.</p>
            <p>
                In my tech journey, I also bring some artistic flair to create websites that not only work well but also look good.
                I understand how the technical stuff in the background and the user interface up front work together,
                and I make sure to design interfaces that users will love.</p>
            <p>I am continuously dedicated to learning and staying updated on the latest developments in Python, backend
                practices, DevOps, and cybersecurity. I am excited about applying this knowledge to contribute to
                innovative applications.</p>
            <p>In addition to my current pursuits, I have a strong aspiration to dive into AI and machine learning topics in the future.
                The potential for AI and machine learning to transform industries and solve complex problems fascinates me,
                and I look forward to exploring these domains to expand my technical horizons further.</p>
            <br>
            <h2 id="techskills">Technical Skills.</h2>
            <p><strong>Programming and Web Development:</strong> Python, Django, Flask, Bootstrap, HTML, CSS, PyTest,
                Git, GitHub, Postgres, MySQL, SQLite.</p>
            <p><strong>DevOps and Cloud:</strong> CI/CD, Ubuntu Linux, CentOS Linux, Bash Scripting, Jenkins, Vagrant, Docker,
                Docker-Compose, Oracle Virtual Box, VMware Workstation, AWS (IAM, CLI, ELB, EBS Volumes, S3, EFS, RDS, EC2,
                Beanstalk, Autoscaling, Route53, CloudWatch),
                Still Learning (in DevOps and Cloud).</p>
            <p><strong>Data Analysis and Visualization:</strong> Pandas, Matplotlib, NumPy, Plotly, Seaborn.</p>
            <p><strong>Web Scraping and Data Parsing:</strong> Selenium, BeautifulSoup.</p>
            <p><strong>Cybersecurity and Network:</strong> Linux, Network Fundamentals, Networking, Subnetting,
                Metasploit, Burp Suite, Wireshark, VMware Workstation, Troubleshooting Tools, Bash, PowerShell,
                OWASP Top 10, Still Learning (in Cybersecurity).</p>
            <br>
            <h2 id="lang">Languages.</h2>
            <p><b>English</b>: C1.</p>
            <p><b>Japanese</b>: N3.</p>
            <p><b>German</b>: A2.</p>
            <p><b>Polish</b>: Native.</p>
            <br>
            <h2 id="softskills">Soft Skills and Background.</h2>
            <p>While my higher education is in veterinary medicine, I have developed a broad range of skills that
                are transferable to other fields. As a Doctor of Veterinary Medicine (DVM), I have demonstrated that I
                am an analytical and reliable individual with a compassionate nature and a strong problem-solving
                mindset. My education has taught me to approach problems critically and holistically, and to work
                with great perseverance and resilience in the face of obstacles. Additionally, I have developed
                a capacity for thinking outside the box, learning quickly, and adapting easily to new environments.</p>
            <br>
            <h2 id="hobbies">Hobbies and Trivia.</h2>
            <p>I have always been fascinated by Japanese culture since childhood, and this interest continues to
                this day. In my free time, I enjoy immersing myself in the language and aim to become fluent,
                with the ultimate goal of working in Tokyo or Osaka. Additionally, I discovered programming over
                two years ago and fell in love with it instantly. Beyond that, I have a diverse range of hobbies,
                including playing video games, cybersecurity, painting, reading, watching movies and anime,
                studying medicine, learning about the universe and simple quantum physics,
                engaging in strength training, running, and admiring gothic style and the Victorian era.
            </p>
            <p>As an INTJ personality type, I am ambitious and analytical, always striving to achieve my goals.
                My creative and dreamy side is just as important, and I find that this balance of traits
                serves me well in pursuing my passions.
            </p>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
        </div>
    </div>
</div>

{% include "footer.html" %}
