{% include "header.html" %}
<div class="ribbons">
    <a href="https://github.com/Veluthil" target="_blank">
        <div id="btn1" class="button-social">
            <h4>GitHub. </h4>
        </div>
    </a>

    <a href="https://www.linkedin.com/in/martyna-boradyn-6b890824b/" target="_blank">
        <div id="btn2" class="button-social">
            <h4>LinkedIn. </h4>
        </div>
    </a>
</div>
<div class="container main">
    <h1 class="contact">About me.</h1>
</div>
<br>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="subtitle">I am a hard-working junior Python programmer who has fallen in love with coding and
                wants to share this new fascination and skills with others.</h2>
            <br>
            <h2>What I can do.</h2>
            <p>My main interest lies in Python and backend development; however, I am also determined to broaden my
                front-end skills to achieve a full-stack developer title in the upcoming future. I enjoy working with
                the Flask framework and creating aesthetically designed websites to please myself and whoever would
                like to work with me. My other IT interest lies in cybersecurity, which is why I am always aware of
                applying secure solutions and features to my pieces of work.</p>
            <br>
            <h2>Technical Skills.</h2>
            <p>Python, HTML, CSS, Bootstrap, Flask Framework.</p>
            <p>Currently learning: Django Framework, JavaScript, Linux, Git.</p>
            <br>
            <h2>Soft Skills and Background.</h2>
            <p>Directly by higher education, I am a veterinarian. Obtaining a Doctor of Veterinary Medicine degree
                proved that I am a highly analytical, dependable person with compassion and a problem-solving mindset,
                who wants to improve no matter the obstacles.
                It also taught me to think critically and holistically, work with great perseverance, think outside
                the box, learn fast, and easily adjust to new environments.</p>
            <br>
            <h2>Hobbies and Trivia.</h2>
            <p>Since my early childhood, I have been and continue to be fascinated by Japan and its culture.
                In my spare time, I aim to master the Japanese language and eventually try working in Tokyo or Osaka.
                Almost a year ago I discovered programming and instantly fell in love with it. My other hobbies
                include:
                cybersecurity, painting, playing video games, reading, watching movies and anime, medicine,
                the universe, simple quantum physics, strength training, gothic style, and Victorian era.
            </p>
            <p>As an INTJ I always dream big and do everything to achieve my goals. Having this personality
                type helps me to mix the analytical and ambitious parts with the creative and dreamy ones.
            </p>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
            <script>
        const cursor = document.querySelector(".cursor-inner");
        const cursor2 = document.querySelector(".cursor-outer");
        document.addEventListener("mousemove", e=>{
            cursor.style.top = e.clientY + "px";
            cursor.style.left = e.clientX + "px";

            cursor2.style.top = e.clientY + "px";
            cursor2.style.left = e.clientX + "px";
        })
            </script>
        </div>
    </div>
</div>

{% include "footer.html" %}
