<!-- Footer -->
{% if not main_page: %}
<section class="footer-section">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto stack">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a class="a-social" href="https://www.linkedin.com/in/martyna-boradyn-6b890824b/"
                               style="--index: 0;">
                <span class="fa-stack fa-lg">
                  <i class="fa-brands fa-linkedin-in"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="a-social" href="https://github.com/Veluthil" style="--index: 0;">
                <span class="fa-stack fa-lg">
                  <i class="fa-brands fa-github"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Martyna Boradyn
                        <script>document.write(/\d{4}/.exec(Date())[0])</script>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </footer>
</section>



<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/custom-js.js')}}"></script>

</body>
</html>