{% include "header.html" %}
<div class="container index">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ribbons">
        <a href="https://github.com/Veluthil">
            <div id="btn1" class="button-social">
                <h4>GitHub. </h4>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/martyna-boradyn-6b890824b/">
            <div id="btn2" class="button-social">
                <h4>LinkedIn. </h4>
            </div>
        </a>
    </div>
    <div class="index-wrap">
        <div class="row">
            <div class="col-lg-6">
                <span class="subtext">I'm</span>
                <div class="stack" style="--stacks: 3;">
                    <h1 style="--index: 0;">MARTYNA.</h1>
                    <h1 style="--index: 1;">MARTYNA.</h1>
                    <h1 style="--index: 2;">MARTYNA.</h1>
                </div>
                <span class="subtext">A programmer.</span>
            </div>
            <div class="col-lg-6 right-paragraph content">
                <p class="main-p">Hello, I'm Martyna Boradyn - a self-taught Python Back-End Developer,
                    currently located
                    in Poland.
                    My love towards coding together with a good amount of coffee fuel my passion to create
                    well-designed, aesthetic websites and programmes.
                </p>
            </div>
        </div>
    </div>
    <p class="copyright-main text-muted">Copyright &copy; Martyna Boradyn
        <script>document.write(/\d{4}/.exec(Date())[0])</script>
    </p>
</div>
<div class="cursor-outer"></div>
<div class="cursor-inner"></div>
<script>
                    const cursor = document.querySelector(".cursor-inner");
                    const cursor2 = document.querySelector(".cursor-outer");
                    document.addEventListener("mousemove", e=>{
                    cursor.style.top = e.clientY + "px";
                    cursor.style.left = e.clientX + "px";

                    cursor2.style.top = e.clientY + "px";
                    cursor2.style.left = e.clientX + "px";
                    })
</script>

</div>


{% include "footer.html" %}
