{% include "header.html" %}

<div class="container main">
    <div class="row">
        <div class="col-lg-6">
            <span class="subtext">I'm</span>
            <div class="stack" style="--stacks: 3;">
                <h1 style="--index: 0;">MARTYNA.</h1>
                <h1 style="--index: 1;">MARTYNA.</h1>
                <h1 style="--index: 2;">MARTYNA.</h1>
            </div>
            <span class="subtext">A programmer.</span>
        </div>
        <div class="col-lg-6 right-paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Sed felis eget velit aliquet sagittis. Condimentum lacinia quis vel eros donec ac
                odio. Lectus proin nibh nisl condimentum id venenatis a.</p>
        </div>
    </div>
</div>

{% include "footer.html" %}
