{% include "header.html" %}
<div class="container index">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ribbons">
        <a href="https://github.com/Veluthil" target="_blank">
            <div id="btn1" class="button-social">
                <h4>GitHub. </h4>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/martyna-boradyn/" target="_blank">
            <div id="btn2" class="button-social">
                <h4>LinkedIn. </h4>
            </div>
        </a>
    </div>
    <div class="index-wrap">
        <div class="row">
            <div class="col-lg-6">
                <span class="subtext">I'm</span>
                <div class="stack" style="--stacks: 3;">
                    <h1 style="--index: 0;">MARTYNA.</h1>
                    <h1 style="--index: 1;">MARTYNA.</h1>
                    <h1 style="--index: 2;">MARTYNA.</h1>
                </div>
                <span class="subtext">IT Specialist</span>
                <p class="subtext">& DevOps.</p>
            </div>
            <div class="col-lg-6 right-paragraph content">
                <p class="main-p">I'm Martyna Boradyn, a Python Programmer and a DevOps Engineer in the making.
                    I'm at the exciting beginning of an endless journey to expand my skills and technology stack.
                </p>
                <div class="cursor-outer"></div>
                <div class="cursor-inner"></div>
            </div>
        </div>
    </div>
    <p class="copyright-main text-muted">Copyright &copy; Martyna Boradyn
        <script>document.write(/\d{4}/.exec(Date())[0])</script>
    </p>
</div>

{% include "footer.html" %}
