{% include "header.html" %}
<div class="container main">
    <h1 class="contact">My work.</h1>
</div>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<br>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>As a novice programmer and DevOps, I am at the beginning of my coding journey, and I am committed to continuously
                improving my skills. My portfolio is continually expanding, and I strive to enhance it every day.
                The links below provide access to some of my most significant websites, applications, and projects,
                while additional open-source creations can be found on my
                <a class="hyperlink" href="https://github.com/Veluthil" target="_blank">GitHub</a> account.
                With a deep passion for the world of technology, I approach every project with enthusiasm and a strong desire to
                improve my skills. As I progress, I eagerly embrace new challenges and opportunities for learning,
                continuously expanding my expertise.
               </p>
            <br>
            <br>
            <hr>
            <br>
            <a class="project" href="https://dokusho-vernissage.vercel.app/" target="_blank">Dokusho Vernissage.
<!--                <img class="project-img" src="static/images/dv.png" alt="Dokusho Vernissage"/>-->
            </a>
            <h3>eCommerce App.</h3>
                <p class="stack-project">Django | Bootstrap | Postgres | AWS S3 Bucket | AWS RDS | PyTest | PayPal |
                    jQuery | AJAX | Flake8 | Factory Boy | Coverage | Vercel</p>
            <br>
            <a class="project" href="https://martyna-blog.onrender.com/" target="_blank">Martyna's Blog.
<!--                <img class="project-img" src="static/images/blog.png" alt="Martyna's Blog"/>-->
            </a>
            <h3>Blog project with users.</h3>
                <p class="stack-project">Flask | Bootstrap | Postgres | SQLAlchemy | Jinja | WTForms | Gunicorn |
                Render</p>
            <br>
            <a class="project" href="https://github.com/Veluthil/My-DevOps-Journey" target="_blank">
                My DevOps Journey.
            </a>
            <h3>Collection of DevOps projects.</h3>
                <p class="stack-project">AWS | Vagrant | Bash Scripting | Docker | Kubernetes | Jenkins | Ansible |
                    Terraform | Linux | Cloudformation | Python Scripting | CI/CD</p>
            <br>
            <a class="project" href="https://github.com/Veluthil/Typing-Speed-Test-App" target="_blank">
                Typing Speed App.
            </a>
            <h3>Desktop GUI App.</h3>
                <p class="stack-project">Python | Tkinter | English-Words</p>
            <br>
            <a class="project" href="https://github.com/Veluthil/Image-Watermarking-App" target="_blank">
                Image Watermarking App.
            </a>
            <h3>Desktop GUI App.</h3>
                <p class="stack-project">Python | Tkinter | Pillow | Matplotlib</p>
            <br>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
        </div>
    </div>
</div>

{% include "footer.html" %}