{% include "header.html" %}

<div class="container main">
    <h1 class="contact">My work.</h1>
</div>
<br>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>As a junior programmer I am still in the beginning of my coding journey, therefore my portfolio will keep
                growing, expanding and getting better with each day.</p>
            <p>My main and biggest websites can be viewed by using hyperlinks attached below. Others of my
                open source code are reachable through my
                <a class="hyperlink" href="https://github.com/Veluthil">GitHub</a> account.</p>
            <br>
            <br>
            <hr>
            <a class="project" href="https://martyna-blog.onrender.com/">Martyna's Blog.</a>
            <p>Blog project with users. (Flask, Bootstrap, SQLAlchemy)</p>
        </div>
    </div>
</div>

{% include "footer.html" %}