{% include "header.html" %}
<div class="ribbons">
    <a href="https://github.com/Veluthil">
        <div id="btn1" class="button-social">
            <h4>GitHub. </h4>
        </div>
    </a>

    <a href="https://www.linkedin.com/in/martyna-boradyn-6b890824b/">
        <div id="btn2" class="button-social">
            <h4>LinkedIn. </h4>
        </div>
    </a>
</div>
<div class="container main">
    <h1 class="contact">My work.</h1>
</div>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<br>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>As a junior programmer I am still in the beginning of my coding journey, therefore my portfolio will keep
                growing, expanding and getting better with each day.</p>
            <p>My main and biggest websites/applications can be viewed by using hyperlinks attached below. Other of my
                open source projects are reachable through my
                <a class="hyperlink" href="https://github.com/Veluthil">GitHub</a> account.</p>
            <br>
            <br>
            <hr>
            <br>
            <a class="project" href="https://martyna-blog.onrender.com/" target="_blank">Martyna's Blog.
            <div><img class="project-img" src="static/images/blog.png" alt="" /></div>
            </a>
            <h3>Blog project with users. (Flask, Bootstrap, SQLAlchemy)</h3>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
            <script>
        const cursor = document.querySelector(".cursor-inner");
        const cursor2 = document.querySelector(".cursor-outer");
        document.addEventListener("mousemove", e=>{
            cursor.style.top = e.clientY + "px";
            cursor.style.left = e.clientX + "px";

            cursor2.style.top = e.clientY + "px";
            cursor2.style.left = e.clientX + "px";
        })
            </script>
        </div>
    </div>
</div>

{% include "footer.html" %}